{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/api/style.css" />
    <title>Api</title>
</head>

<body>
    {% block content %}
        <div class="card-group">
            <div class="card">
              <img src="{{data.background_image}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{data.name}}</h5>
                <p class="card-text">{{data.description}}</p>
                <p class="card-text"><small class="text-muted">Released: {{data.released}}</small></p>
              </div>
            </div>

            </div>
          </div>
    {% endblock %}
</body>

</html>