{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <title>Faqs</title>
  </head>


  
  {% load crispy_forms_tags %}
  
    {% block content %}
        <h2>Group Message Between:</h2>
        {% for member in community.members.all %}
        <h2>{{member}}</h2>
        {% endfor %}
        <h2>Creator: {{community.creator}}</h2>
        <h2>Created at: {{community.time_created}}</h2>
        <h2>Game: {{community.game}}</h2>
        <h2>Messages:</h2>
        {% for message in community_messages.all %}
        <div class="card mb-1">
          <div class="card-body">
            <p class="card-text">{{message}}</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        {% endfor %}

        <form action="" method="post">
          {% csrf_token %} {{ form | crispy }}
          <button class="btn-form"type="submit">Submit</button>
        </form>
    {% endblock %}
  </body>
</html>
