{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <title>Faqs</title>
  </head>


  
  {% load crispy_forms_tags %}
  
    {% block content %}
        <h2><b>Group Message Between:</b></h2>
        {% for member in community.members.all %}
        <h2>{{member}} <a href="/profile/{{member.id}}/">
          <img  src="{{member.picture.url}}" alt="Your profile photo" style="
        height: 50px; 
        width: 50px;
        border-radius: 25px;
        "/>
        </a></h2>
        {% endfor %}
        <h2><b>Creator:</b> {{community.creator}}
          <a href="/profile/{{community.creator.id}}/">
            <img  src="{{community.creator.picture.url}}" alt="Your profile photo" style="
          height: 50px; 
          width: 50px;
          border-radius: 25px;
          "/>
          </a></h2>
        <h2><b>Created at:</b></h2> {{community.time_created}}</h2>
        <h2><b>Game:</b> {{community.game}}</h2>
        <h2><b>Messages:</b></h2>
        {% for message in community_messages.all %}
        <div class="card mb-1">
          <div class="card-body">
            <p class="card-text">{{message}} from: {{message.author.gamer_tag}}
              <a href="/profile/{{message.author.id}}/">
                <img  src="{{message.author.picture.url}}" alt="Your profile photo" style="
              height: 50px; 
              width: 50px;
              border-radius: 25px;
              "/>
              </a>
            </p>
            <p class="card-text"><small class="text-muted">{{message.date}}</small></p>
          </div>
        </div>
        {% endfor %}

        <form action="" method="post">
          {% csrf_token %} {{ form | crispy }}
          <button class="btn-form"type="submit">Submit</button>
        </form>
    {% endblock %}
  </body>
</html>
