{% extends 'base.html' %} {% load mptt_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Faq Detail</title>
  </head>


  
  
    
    <!-- <div class="card">
        <div class="card-header">
            Game: {{faq.game}}
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p> {{faq.question}}</p>
            <footer class="blockquote-footer">  <cite title="Source Title">Created By: {{faq.user}}</cite></footer>
          </blockquote>
          <div class="card-body">
            <a href="/create_faq_comment/{{faq.id}}" class="card-link">Comment on FAQ</a>
          </div>
        </div>
      </div>

      {% recursetree comments %}
      <li>
          {{ node.comment }}
          -- {{ node.user }}
          {% if not node.is_leaf_node %}
              <ul class="children">
                  {{ children }}
              </ul>
          {% endif %}
      </li>
  {% endrecursetree %} -->



<!-- new bellow, added card to better organize data -->

{% block content %}
    <div class="card">
        <div class="card-header">
            Game: {{faq.game}}
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p> {{faq.question}}</p>
            <a href="/profile/{{faq.user.id}}/">
            <footer class="blockquote-footer">  <cite title="Source Title">Created By: {{faq.user}}</cite></footer>
          </a>
          </blockquote>
          <div class="card-body">
            <a href="/create_faq_comment/{{faq.id}}" class="card-link"><button class="btn btn-primary" type="button">Answer Question</button></a>
          </div>      
        </div>
        {% recursetree comments %}
        <ul>
          <div class="card" style="width: 18rem;">
            <div class="card-header">
              {{node.comment}}
              <h6>Created by: {{node.user}}</h6>
            <a href="/reply_faq_comment/{{node.id}}/" class="card-link"><button class="btn btn-primary btn-sm" type="button">Reply</button></a>
              
            </div>
          </div>
            {% if not node.is_leaf_node %}
                <li class="children">
                    {{ children }}
                </li>
                {% endif %}
              </ul>
    {% endrecursetree %}
      </div>
{% endblock %}
  </body>
</html>
