{% extends 'base.html' %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <title>Api</title>
  </head>

  <body>
    {% block content %}
    <div class="homepage-header">
      <h1>All games</h1>
    </div>
    <div class="profile-container">
      **Case Sensitive**
      <form class="row gy-2 gx-3 align-items-center" method="post">
        {% csrf_token %} {{ form.as_p }}
      </form>
      <div class="d-grid gap-4 d-md-block">
        <a href="/reviews/">
          <button class="btn btn-info" type="button">All Reviews</button>
        </a>
        <a href="/create_game/">
          <button class="btn btn-primary" type="button">Add a Game</button>
        </a>
        <a href="/faqshome/">
          <button class="btn btn-info" type="button">All FAQs</button>
        </a>
      </div>
    </div>
    <div id="games">
      {% for game in games %}
      <div
        class="card"
        style="
          width: 18rem;
          margin: 20px;
          height: 600px;
          box-shadow: 4px 4px 30px black;
        "
      >
        {% if game.isNew == True %}
        <img
          src="{{ game.image_background }}"
          class="card-img-top"
          alt="picture-of-game"
        />
        {% else %}
        <img
          src="{{ game.image_background.url }}"
          class="card-img-top"
          alt="picture-of-game"
        />
        {% endif %}
        <div class="card-body">
          <a href="/game_detail/{{game.id}}">
            <h5 class="card-title">{{game.name}}</h5>
          </a>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Rating: {{game.rating}}</li>
          <li class="list-group-item">Platform: {{game.platform}}</li>
          <li class="list-group-item">Release Date: {{game.released_at}}</li>
        </ul>
        <div class="card-body">
          <a href="/create_review/{{game.id}}" class="card-link"
            >Leave a Review</a
          >
          <a href="/createfaq/{{game.id}}" class="card-link">Write a FAQ</a>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endblock %}
  </body>
</html>
