{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/api/style.css" />
    <title>Game Detail</title>
  </head>

  <body>
    {% block content %}
    <div class="card mb-3">
        <img src="{{game.image_background}}" class="card-img-top" alt="picture-of-game">
        <div class="card-body">
          <h5 class="card-title">{{game.title}}</h5>
          <p class="card-text">Platform: {{game.platform}}</p>
          <p class="card-text"><small class="text-muted">Rating: {{game.rating}}</small></p>
          <p class="card-text"><small class="text-muted">Release Date: {{game.released_at}}</small></p>
          <div class="card-body">
            <a href="/create_review/{{game.id}}" class="card-link">Leave a Review</a>
            <a href="/createfaq/{{game.id}}" class="card-link">Write a FAQ</a>
          </div>
        </div>
      </div>
    {% endblock %}
  </body>
</html>
