{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/api/style.css" />
    <title>Api</title>
  </head>

  <body>
    {% block content %}
 
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col col-lg-2">
         <h2>Game</h2>
         <h2>Game</h2>
         <h2>Game</h2>
         <h2>Game</h2>
        </div>
        <div class="col-md-auto">
          Variable width content
        </div>
        <div class="col col-lg-2">
          <h2>Review</h2>
          <h2>Review</h2>
          <h2>Review</h2>
          <h2>Review</h2>
        </div>
      </div>
      <div class="row">
        <div class="col">
          1 of 3
        </div>
        <div class="col-md-auto">
          Variable width content
        </div>
        <div class="col col-lg-2">
          3 of 3
        </div>
      </div>
    </div>


    {% endblock %}
  </body>
</html>
