{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Detail</title>
  </head>

  
    {% block content %}
    <body>
      <div class= "homepage-header">
        <h1>{{target_user.gamer_tag}}'s Profile</h1>
      </div>
    <div class="profile-container">
      <div class="card" style="margin-top:20px; width: 500px; height: 800px; box-shadow:4px 4px 30px black;">
        <img style="border-radius: 230px;"src="{{target_user.picture.url}}" class="card-img-top" alt="why you no show picture!!!" />
        <div class="card-body">
          <h5 class="card-title">{{target_user.username}}</h5>
          <p class="card-text">
           <b>Bio:</b> {{target_user.bio}}
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Email:</b>{{target_user.email}}</li>
          <li class="list-group-item"><b>GT:</b> {{target_user.gamer_tag}}</li>
          <li class="list-group-item"><b>Favorite Game:</b> {{target_user.favorite_game}}</li>
          <!-- <li class="list-group-item">A third item</li> -->
        </ul>
        <div class="card-body">
          <a href="/edit/{{target_user.id}}" class="card-link">Edit Profile</a>
          <a href="/message/user/{{target_user.id}}" class="card-link">Message</a>
        </div>
      </div>
      {% for community in communities %}
      <a href="/community/{{community.id}}/" class="card-link">Community: {{community.game}}</a>
      {% endfor %}
    </div>
    </body>
    {% endblock %}
  </body>
  </html>
