{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Detail</title>
  </head>

  
    {% block content %}
    <body>
    <h1>User Detail</h1>
    <h2>Welcome {{target_user.username}}</h2>

    
  

  
    <div class="card" style="width: 300px; height: 500px">
      <img src="{{target_user.picture.url}}" class="card-img-top" alt="why you no show picture!!!" />
      <div class="card-body">
        <h5 class="card-title">{{target_user.username}}</h5>
        <p class="card-text">
          {{target_user.bio}}
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{target_user.email}}</li>
        <li class="list-group-item">GT: {{target_user.gamer_tag}}</li>
        <li class="list-group-item">Favorite Game: {{target_user.favorite_game}}</li>
        <!-- <li class="list-group-item">A third item</li> -->
      </ul>
      <div class="card-body">
        <a href="/edit/{{target_user.id}}" class="card-link">Edit Profile</a>
        <a href="/message/user/{{target_ser.id}}" class="card-link">Message</a>
        <a href="/user/{{target_user.id}}/messages" class="card-link">Messages({{messages.count}})</a>
      </div>
    </div>
    </body>
    {% endblock %}
  </body>
</html>
