{% extends 'base.html' %} {% load mptt_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Review Detail</title>
  </head>


  
  
    {% block content %}
    <div class="card">
        <div class="card-header">
            Game Review: {{review.game}}
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p> {{review.text}}</p>
            <a href="/profile/{{review.user_created.id}}/">
            <footer class="blockquote-footer">  <cite title="Source Title">Reviewed By: {{review.user_created}}</cite></footer>
          </a>
          </blockquote>
          <div class="card-body">
            <a href="/create_review_comment/{{review.id}}" class="card-link"><button class="btn btn-primary" type="button">Add a comment</button></a>
          </div> 
          {% if review.user_created.username == request.user.username %}
          <a href='/delete_review/{{review.id}}/'>
          <button type="button" class="btn btn-danger">Delete</button>  
        </a>
          {% endif %}     
        </div>

        {% recursetree comments %}
        <ul>
          <div class="card" style="width: 18rem;">
            <div class="card-header">
              {{node.comment}}
              <h6>Created by: {{node.user}}</h6>
            <a href="/reply_review_comment/{{node.id}}/" class="card-link"><button class="btn btn-primary btn-sm" type="button">Reply</button></a>
              
            </div>
          </div>
            {% if not node.is_leaf_node %}
                <li class="children">
                    {{ children }}
                </li>
                {% endif %}
              </ul>
    {% endrecursetree %}
      </div>

    
{% endblock %}
  </body>
</html>
