{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reviews</title>
  </head>

  
    {% block content %}
    <h1>Add Review</h1>
{% for review in reviews %}
<h6>Rating:{{ review.rating }}</h6>
<br/>
<h6>Game: {{ review.name }}</h6>
<br/>
<h6>Review: {{ review.text}}</h6>
<br/>
<h6>Game Review: {{ review.game }}</h6>
<br/>
<h6>Reviewed By: {{ review.user_created}}</h6>
<br/>
<h6>Time Created: {{ review.time_created }}</h6>
<br/>
<button style="background: rgb(10, 146, 236); cursor: pointer" type="button">
  <a href="/create_review_comment/{{review.id}}/">Comment</a>
</button>
<br/>
---------------------------------------------------------------------------
<br/>
{% endfor %}
    {% endblock %}
  </body>








